@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://s3.ap-south-1.amazonaws.com/kalvi-education.github.io/front-end-web-development/superover-bg.png);
    background-size: cover;
    text-align: center;
    color: white;
}
#logo {
    margin-top: 25px;
    width: 200px;
}   
.score {
    /* width: 470px;
    height: 350px; */
    border-radius: 20px;    
    padding: 30px;
    margin: 0 90px;
}
section {
    display: flex;
    justify-content:center;
    margin: 10vh auto;
    flex-wrap: wrap;
}
#team1 {
    background-color: #1D65AA;
    
}
#team2 {
    background-color: #439430;

}
h1 {
    font-size: 90px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.balls{
    display: flex;
}
.ball {
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 5px;
    color: black;
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
}
.scoreboard {
    font-size: 63px;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: bold;
}
.button {
    width: 100px;
    margin: 0 30px;
    cursor: pointer;
}

.button:active{
    animation: cliclbutton 0.3s ease-in-out;
}
@keyframes clickbutton {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}